:root {
  --primary: #007ea7;
  --secondary: #ffffff;
  --tertiary: #4499d6;
  --text: #000000;
}
body {
  background-color: var(--primary);
  display: flex;
  margin: 0px;
  font-family: "elza", sans-serif;
}
main {
  display: flex;
  height: 100vh;
  width: 100vw;
}
img {
  width: 100px;
  height: 100px;
}

.left {
  width: 20vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary);
}

.weather-info {
  margin-top: 100px;
  margin-left: 0px;
}

#location,
#weather {
  font-weight: 300;
}

.left > div > h1 {
  font-family: "hoss-round-xnarrow", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

#temperature {
  font-size: 64px;
  font-weight: 300;
}
.right {
  margin-right: 0px;
  padding: 0px 100px;
  background-color: var(--secondary);
  max-height: 100vh;
  width: 80vw;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right > h1 {
  margin-top: 150px;
  font-weight: 400;
}
.clothing {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.clothing-item {
  padding-left: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100px;
  border-bottom: 3px solid var(--tertiary);
  border-radius: 7.5px;
}
.clothing-item > h1 {
  font-weight: 300;
}
.shirt,
.pants,
.outerwear,
.shoes {
  max-height: 60px;
  height: auto; /* Example height, adjust as needed */
  width: 60px; /* Adjust width automatically to maintain aspect ratio */
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

#generate {
  width: 300px;
  height: 75px;
  border-radius: 20px;
  background: var(--tertiary);
  border: 0px;
  font-weight: 200;
  color: var(--secondary);
  font-size: 24px;
  font-family: "elza", sans-serif;
}

#add {
  width: 300px;
  height: 75px;
  border-radius: 20px;
  background: var(--primary);
  border: 0px;
  font-weight: 200;
  color: var(--secondary);
  font-size: 24px;
  font-family: "elza", sans-serif;
}
<<<<<<< Updated upstream
#overlay {
  display: none;
  position:absolute; 
  left:0%;
  top:0%; 
  background-color: rgba(39,62,84,0.82);
  height: 100vh;
  width: 100vw;
}
=======
>>>>>>> Stashed changes
form {
  z-index: 2;
  border-radius: 10px;
  display: none; /* Initially hidden */
  flex-direction: column;
  justify-content: space-evenly;
<<<<<<< Updated upstream
  position: absolute; 
  left: 50%;
  top: 50%; 
=======
  position: absolute;
  left: 50%;
  top: 50%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 20px;
}

input {
  border-radius: 10px;
  border: 2px solid black;
}
fieldset {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid var(--red);
}
<<<<<<< Updated upstream
#wardrobe {
  display: flex;
  z-index: 1;
  overflow-y: auto;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  position:absolute; 
  left:60%;
  top:50%; 
  transform: translate(-50%, -50%);
  height: 450px;
  width: 1000px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 20px;
}

.clothing-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
=======
>>>>>>> Stashed changes
